@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* 
tailwind class for button with icon 
border rounded-full border-white/60 shadow-[0px_0px_40px_10px_#4a5568] 

tailwind class for icons
fill-white/60 m-1

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
  background-color: #020202;
}
body {
  color: rgb(255 255 255 / 0.6);
}
p {
  color: #f2f2f2;
}

input {
  color: #000000;
  border: 1px solid #cacaca;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  --tw-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  --tw-shadow-colored: 0px 0px 16px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
button[type="submit"] {
  padding: 7px 20px;
  border-radius: 6px;
  background-color: grey;
  border: 1px solid #cacaca;
  cursor: pointer;
  color: #fff;
  width: fit-content;
}
button[type="submit"]:hover,
.register-button:hover,
.login-button:hover {
  background-color: #625656;
}
.register-button,
.login-button {
  padding: 7px 20px;
  border-radius: 6px;
  background-color: #de4e4e;
  border: 1px solid #cacaca;
  cursor: pointer;
  color: #fff;
  width: fit-content;
}
